{% extends "base.html.twig" %}
{% block title %}ERROR
{% endblock %}
{% block body %}
	<div class="content">
		<img src="/image/backgroundImage.jpg" class="background"/>
		<div class="section">
			<h1 class="section__title">An error has occurred!</h1>
			<div class="section__line"></div>
            <h2 class="section__subtitle">{{ mess }}</h2>
		</div>
	</div>
{% endblock %}
